li {
  padding: 5px;
  margin: 5px;
  background: black;
  color: white;
  text-align: center;
  width:auto;
  box-sizing: border-box;
}

.label {
  font-weight: bold;
  text-align: center;
}

.create-form {
  padding: 5px;
  margin: 5px;
  color: white;
  background: black;
  text-align: center;
  width:auto;
  box-sizing: border-box;
}

.form-group {
  margin-bottom: 5px;
  text-align: center;
}

body{
  background-image: linear-gradient(yellow, red);
}
